.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 60px;

  background-color: #222;
  color: white;

  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 30px;

  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;

  transition: 0.3s;
}

.nav-links a:hover {
  color: #00d1b2;
}